<div>
  <div v-if="!context.datasetId">
    <sly-field
      title="Select Datasets"
      description="Export whole project or select specific datasets in the selector"
    >
      <el-checkbox v-model="state.allDatasets">Export all datasets</el-checkbox>

      <sly-select-dataset
        v-if="!state.allDatasets"
        :project-id="context.projectId"
        :datasets.sync="state.datasets"
        :options="{ multiple: true, valueProperty: 'id' }"
      ></sly-select-dataset>
    </sly-field>
  </div>

  <div>
    <sly-field
      title="Select format"
      description="Choose between exporting images with annotations or only annotations (.json)"
    >
      <div>
        <el-radio-group v-model="state.selectedFormat" size="normal">
          <el-radio-button label="images"
            ><span>images and annotations</span></el-radio-button
          >
          <el-radio-button label="annotations">
            <span>only annotations</span></el-radio-button
          >
        </el-radio-group>
      </div>
    </sly-field>

    <sly-field
      title="Select output"
      :description="state.selectedFormat === 'images' ? 'Choose whether you want to export all images or only annotated images (that have either labels or tags)' : 'Choose whether you want to export annotations for all images or only annotated images (that have either labels or tags)'"
    >
      <div>
        <el-radio-group v-model="state.selectedOutput" size="normal">
          <el-radio-button label="all">
            <span>all images</span></el-radio-button
          >
          <el-radio-button label="annotated">annotated images</el-radio-button>
        </el-radio-group>
      </div>
    </sly-field>
  </div>
</div>
